language: rust
matrix:
  include:
    - rust: stable
      env: FEATURES='std raw_socket tap_interface' MODE='test'
    - rust: beta
      env: FEATURES='std raw_socket tap_interface' MODE='test'
    - rust: nightly
      env: FEATURES='std raw_socket tap_interface' MODE='test'
    - rust: nightly
      env: FEATURES='std raw_socket tap_interface log' MODE='test'
    - rust: nightly
      env: FEATURES='alloc' MODE='build'
    - rust: nightly
      env: FEATURES='' MODE='build'
script:
   - cargo "$MODE" --no-default-features --features "$FEATURES"
notifications:
  irc:
    channels:
      - "chat.freenode.net#m-labs"
    use_notice: true
    skip_join: true
