on:
  push:
    branches: [ staging, trying ]
  pull_request_target:

name: Clippy check
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        if: github.event_name == 'pull_request_target'
        with:
          ref: refs/pull/${{ github.event.number }}/head
      - uses: actions/checkout@v2
        if: github.event_name != 'pull_request_target'
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.53.0
          override: true
          components: clippy
      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --tests --examples -- -D warnings
